{% extends "header.html" %}
{% load static %}

{% block title %}Manage Destinations - Admin{% endblock %}
{% block content %}
    <section class="section_manage_destinations">
        <h3>Manage Destinations</h3>

        <div class="desination_list">
                <ul>
                    {% for d in destination %}
                    <li onclick="window.location.href='destination/{{ d.destination_id }}'">
                        <span class="img_container">
                            <img src="{{ d.image.url }}">
                        </span>
                        <h3>{{ d.destination_name }}</h3>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </section>
{% endblock %}